@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@500&family=Sono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@400&family=Roboto:wght@500&family=Sono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
.content {
  display: flex;
  flex-wrap: wrap;
}
.content__title {
  flex-basis: 100%;
  margin: 60px 0;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.content__article {
  flex-basis: 40%;
  margin: auto;
}
@media (max-width: 799px) {
  .content__article {
    flex-basis: 90%;
  }
}
.content__article-img {
  display: block;
  width: 100%;
}
.content__article-title {
  padding: 20px 30px;
  letter-spacing: 3px;
  text-align: center;
}
.content__article-description {
  font-size: 15px;
  text-align: center;
  padding: 20px 30px;
  font-weight: 200;
}
.content__article-button {
  display: block;
  border: 2px solid black;
  margin: 30px auto;
  width: 50%;
  font-size: 1.8rem;
  padding: 6px 12px;
  background-color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.content {
  display: block;
}
.content__project {
  display: block;
  text-transform: uppercase;
  color: rgb(59, 55, 55);
  font-size: 4rem;
  margin: 20px;
  font-family: "Oswald", sans-serif;
  transition: 0.3s;
  cursor: pointer;
}
.content__js:hover {
  transform: translateX(50px);
  border-left: 10px solid orange;
}
.content__ts:hover {
  transform: translateX(50px);
  border-left: 10px solid rgb(39, 39, 234);
}
.content__css:hover {
  transform: translateX(50px);
  border-left: 10px solid rgb(138, 51, 65);
}
.content__react:hover {
  transform: translateX(50px);
  border-left: 10px solid rgb(222, 189, 222);
}
.content__boot:hover {
  transform: translateX(50px);
  border-left: 10px solid purple;
}
.content__jquery:hover {
  transform: translateX(50px);
  border-left: 10px solid rgb(73, 73, 91);
}
.content__box {
  flex-basis: 100%;
}
.content__box-titleProject {
  display: block;
  flex-basis: 100%;
  text-align: center;
  font-size: 5rem;
  font-family: "Patrick Hand", cursive;
  margin: 30px 0;
}
.content__box-image {
  display: block;
  width: 50%;
  margin: auto;
}
.content__box-description {
  text-align: center;
  font-family: "Arimo", sans-serif;
  padding: 30px 50px;
}
.content__box-btn {
  display: block;
  margin: auto;
  margin-bottom: 60px;
  height: 50px;
  width: 30%;
  background-color: pink;
  border: 2px solid black;
  font-size: 2rem;
  font-family: "Sono", sans-serif;
  text-align: center;
  padding: 11px;
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: pink;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 3rem;
  background-color: white;
  box-shadow: 0 0 20px 0 black;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  align-content: flex-start;
  flex-direction: row;
}

.logo {
  flex-basis: 200px;
  background-color: purple;
}
.logo__image {
  width: 100%;
  display: block;
}

.search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  flex-basis: 60%;
  height: 50%;
  max-height: 60px;
  margin-right: 2vh;
  padding: 0 10px;
  font-size: 1.4rem;
}
.search__input:focus {
  box-shadow: 0 0 4px 4px pink;
  font-weight: bold;
}
.search__button {
  height: 50%;
  font-size: 1.4rem;
  padding: 0 10px;
  max-height: 60px;
  border: 2px solid black;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.search__button:hover {
  background-color: black;
  color: #fff;
}

.settings {
  display: flex;
  padding: 0 50px;
  align-items: center;
  color: gray;
  cursor: pointer;
}
.settings:hover {
  transition: 0.5s;
  color: black;
}

.menu {
  flex-basis: 100%;
  background-color: rgb(65, 51, 42);
  color: white;
  height: 90px;
  font-family: "Patrick Hand", cursive;
  font-size: 3rem;
  padding: 15px 50px 15px 80px;
}
.menu__list {
  display: flex;
  list-style: none;
}
.menu__list-item {
  margin: 0 20px;
  line-height: 6rem;
  cursor: pointer;
}
.menu__list-item:hover {
  border-bottom: 2px solid yellow;
}
.menu__list-item:nth-last-child(1) {
  padding: 0 10px;
  margin-left: auto;
  border: 2px solid gray;
}
.menu__list-item:nth-last-child(1):hover {
  border-color: yellow;
}

.content {
  display: flex;
  flex-basis: 100%;
  background-color: rgb(246, 210, 216);
}
.content__title {
  max-height: 86px;
}

.footer {
  flex-basis: 100%;
  background-color: rgb(21, 33, 32);
}/*# sourceMappingURL=style.css.map */