@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@500&family=Sono&display=swap');

$main-color: pink;
$defaultFont: 'Roboto', sans-serif;
$textFont: 'Sono', sans-serif;
$specialFont: 'Patrick Hand', cursive;