.content {
    // display: flex;
    display: flex;
    flex-wrap: wrap;

    &__title {
        flex-basis: 100%;

        margin: 60px 0;
        text-align: center;
        letter-spacing: 2px;
        padding: 10px 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
    }

    &__article {
        flex-basis: 40%;
        margin: auto;

        @media (max-width: 799px) {
            flex-basis: 90%;
        }

        &-img {
            display: block;
            width: 100%;
        }

        &-title {
            padding: 20px 30px;
            letter-spacing: 3px;
            text-align: center;
        }

        &-description {
            font-size: 15px;
            text-align: center;
            padding: 20px 30px;
            font-weight: 200;
        }

        &-button {
            display: block;
            border: 2px solid black;
            margin: 30px auto;
            width: 50%;
            // max-width: 200px;
            font-size: 1.8rem;
            padding: 6px 12px;
            background-color: white;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
        }
    }
}