@import '_variable';
@import 'HomePage';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-color: $main-color;
    font-family: $defaultFont;

}

.wrapper {
    //kontener
    display: flex;
    flex-wrap: wrap;

    //wygląd
    font-size: 3rem;
    background-color: white;
    box-shadow: 0 0 20px 0 black;
    min-height: 100vh;
    //pozycja
    max-width: 1200px;
    margin: 0 auto;
    align-content: flex-start;
    flex-direction: row;
}

.logo {
    flex-basis: 200px;
    // height: 105px;
    background-color: purple;

    &__image {
        width: 100%;
        display: block;
    }
}

.search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        flex-basis: 60%;
        height: 50%;
        max-height: 60px;
        margin-right: 2vh;
        padding: 0 10px;
        font-size: 1.4rem;

        &:focus {
            box-shadow: 0 0 4px 4px $main-color;
            font-weight: bold;
        }
    }

    &__button {
        height: 50%;
        font-size: 1.4rem;
        padding: 0 10px;
        max-height: 60px;
        border: 2px solid black;
        background-color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: black;
            color: #fff;
        }
    }
}

.settings {
    display: flex;
    padding: 0 50px;
    align-items: center;
    color: gray;
    cursor: pointer;

    &:hover {
        transition: 0.5s;
        color: black;
    }
}

.menu {
    flex-basis: 100%;
    background-color: rgb(65, 51, 42);
    color: white;
    height: 90px;
    font-family: $specialFont;
    font-size: 3rem;
    padding: 15px 50px 15px 80px;

    &__list {
        display: flex;
        list-style: none;

        &-item {
            margin: 0 20px;
            line-height: 6rem;
            cursor: pointer;

            &:hover {
                border-bottom: 2px solid yellow;
            }

            &:nth-last-child(1) {
                padding: 0 10px;
                margin-left: auto;
                border: 2px solid gray;

                &:hover {
                    border-color: yellow;
                }
            }
        }
    }


}

.articles {
    flex-basis: 100%;
    // min-height: 100vh ;
}

.footer {
    flex-basis: 100%;
    background-color: rgb(21, 33, 32);
}